body {
    font-family: 'Judson', serif !important;
    font-size: 18px !important;
}
#submit {
    font-size: 16px !important;
}
#add {
    font-weight: bold !important;
    text-decoration: underline !important;
}
.herotitle {
    font-weight: bold !important;
    font-family: 'Cinzel Decorative', cursive !important;
}
#left_form {
    margin-right: 5px solid #000019;

}
#maxsize, #name, #cause {
    background: #fbfcfc;
    box-shadow: 5px 5px 10px ##0000FF;
}
#age, #power, #weakness {
    background: #fbfcfc;
    box-shadow: 5px 5px 10px ##0000FF;
}
input::placeholder {
    color: blue;

}
input {
     border-radius: 5px;
     width: 300px;
     padding-left: 15px;
}

