@font-face {
  font-family: 'farcrycustom';
  src: url('fonts/Far.ttf');
}
#title {
 font-family: farcrycustom !important;
 }
body {
    font-size: 18px !important;
}
#submit {
    font-size: 16px !important;
}
#add {
    font-weight: bold !important;
    text-decoration: underline !important;
}
.herotitle {
    font-weight: bold;
}
