{{#block "header"}}
<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title" }}{{/block}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Judson&display=swap" rel="stylesheet">

</head>
<body>
<!--begin main template-->
<div class="container">
    {{#block "content" }}

    {{/block }}

</div>
<!--end main template-->
{{#block "footer" }}
    </body>
    </html>
{{/block }}
{{/block}}